.import_demo_title {
    text-transform : uppercase;
    text-align     : center;
    letter-spacing : 6px;
    font-weight    : 600 !important;
    margin-top     : 40px !important;
    margin-bottom  : 40px !important;
    font-size      : 22px !important;
}

.artemis_import_headlines {
    padding-left        : 20px;
    list-style-position : inside;
    list-style-type     : square;
}

.available_demos {
    position : relative;
}

.import_spinner {
    display    : none;
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : rgba(255, 255, 255, .8);
}

.import_spinner.active {
    display : block;
}

.import_spinner img {
    position    : absolute;
    top         : 50%;
    left        : 50%;
    margin-left : -25px;
    margin-top  : -25px;
}

.import_items {
    position: relative;
    margin-top : 60px;
    display    : table;
    width      : 100%;
}

.items_row {
    padding-bottom : 25px;
    padding-top    : 25px;
    display        : block;
    width          : 100%;
}

.items_cell {
    display    : table-cell;
    text-align : center;
    width      : 30%;
}

.items_cell:hover > img {
    opacity : 0.7;
}

.items_cell img {
    max-width          : 100%;
    transition         : opacity .3s linear;
    -webkit-transition : opacity .3s linear;
}

.import_artemis_homepage_btn,
.import_artemis_btn {
    margin-top : 10px !important;
}

#artemis-swp-import-processing,
#artemis-swp-import-complete,
.hidden_msg,
.demo-already-imported {
    display : none;
}

